:root{
    --trade-green: #4bdece;
    --trade-gray: #666666;
    --trade-dark: #1d2434;
}

body{
    font-family: 'Montserrat', sans-serif;
}

header{
    height: 100vh;
    display: flex;
}

span.comp-name {
    transform: rotate(-90deg);
    letter-spacing: 1vh;
    font-size: 1vh;
    font-weight: 500;
    display: inline-block;
    width: max-content;
    text-transform: uppercase;
}

.section-number {
    font-size: 4vw;
    font-family: 'Oswald', sans-serif;
    font-weight: 600;
    letter-spacing: 3px;
}

.section-title{
    font-size: 35px;
    letter-spacing: 8px;
    font-family: 'Oswald', sans-serif;
    text-align: center;
    margin: 50px 0 70px;
    scroll-margin: 50px 0 0 50px;
}

.trade-green{
    color: var(--trade-green);
}

#about h3 {
    font-size: 30px;
    font-weight: 600;
    margin: 0;
}

#glide-portfolio .glide__slide {
    height: 83vh;
}

#about p{
    font-size: 0.9em;
    font-weight: 400;
    color: var(--trade-gray);
    line-height: 1.5;
}

.section-content{
    display: flex;
    justify-content: center;
}

.section-item {
    width: 25%;
    max-width: 390px;
    margin: 0 32px;
}


footer {
    height: 72vh;
    background: var(--trade-dark);
    padding: 24vh 385px;
    box-sizing: border-box;
    width: 100%;
}

footer .section-title{
    color: white;
    position: relative;
}

.header-left {
    width: 8vw;
    z-index: 50;
    background-color: #f5f5f3;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.header-right {
    width: calc(100% - 8vw);
}

nav {
    position: absolute;
    z-index: 20;
    width: 80vw;
    right: 0;
    display: flex;
    justify-content: space-between;
    padding: 0 10vw 0 100px;
    box-sizing: border-box;
    margin-top: 60px;
}

nav ul li {
    display: inline-block;
    margin: 0 35px;
}

nav ul {
    margin: 0;
}

header::before{
    content: '';
    display: block;
    width: 19.532vw;
    height: 42.69vh;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #f5f5f3;
    z-index: 30;
}

.glide {
    height: 100vh;
    box-sizing: border-box;
}

.glide__slides {
    margin: 0;
}

.glide__slide {
    height: 100vh;
}

.slide-action {
    position: relative;
    top: 30%;
    text-align: center;
    height: 420px;
    width: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.slide-1{
    background-image: url('images/slide-1.png');
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: darken;
    text-align: center;
    background-color: #1d233375;
}

nav a:hover, nav a:focus {
    border-bottom: 1px solid white;
    outline: none;
    padding-bottom: 2px;
}
nav a {
    font-family: 'Oswald', sans-serif;
    text-decoration: none;
    color: white;
    font-weight: normal;
    text-transform: uppercase;
    font-size: 13px;
    letter-spacing: 3px;
}

.slide-action h1 {
    font-family: 'Oswald', sans-serif;
    font-size: 2em;
    color: white;
    letter-spacing: 0.4em;
    font-weight: 200;
}

.slide-action img {
    width: 22%;
}


.slide-action a:hover, input[type="submit"]:hover {
    background-color: #60ffee;
}
.slide-action a, input[type="submit"] {
    text-decoration: none;
    color: white;
    padding: 20px;
    font-weight: bold;
    border-radius: 50px;
    background-color: #4bddcd;
    display: inline-block;
    height: 55px;
    box-sizing: border-box;
    letter-spacing: 3px;
    font-size: 14px;
}

.slide-action a:after, input[type="submit"]:after {
    content: '';
    width: 10px;
    height: 10px;
    display: inline-block;
    background-image: url('images/icons/arrow-right.svg');
    background-position: center;
    background-size: cover;
    margin-left: 10px;
}


.social{
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    align-self: flex-end;
    height: calc(100vh - 50%);
    width: 100%;
    bottom: 0;
    padding-bottom: 30px;
}

.site-icon-wraper{
    align-self: flex-end;
    text-align: right;
    padding-top: 30px;
    display: flex;
    flex-direction: column;
    height: 21%;
    justify-content: space-between;
    align-items: center;
    position: relative;
    left: 1.5vw;
}

.site-icon-wraper img {
    width: 4vw;
}

.social-wraper{
    display: flex;
    flex-direction: column;
    height: 20vh;
    justify-content: space-between;
}


button.glide__arrow {
    background: none;
    color: white;
    border: 0;
    font-size: 13px;
    font-family: 'Oswald', sans-serif;
    font-weight: lighter;
    letter-spacing: 7px;
    text-transform: uppercase;
}


.glide__arrows {
    display: none;
    position: absolute;
    top: 48vh;
    left: 10vw;
}

.glide__arrow{
    box-shadow: initial;
}


.glide__arrow--left:after {
    content: '';
    width: 15px;
    height: 15px;
    position: absolute;
    background-image: url(images/icons/arrow-right.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.glide__arrow--right{
    right: 2vw;
}
.glide__arrow--right:before {
    content: '';
    width: 15px;
    height: 15px;
    position: absolute;
    left: -10px;
    top: 10px;
    background-image: url(images/icons/arrow-right.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    transform: rotate(-180deg);
}


.item-info {
    font-size: 12px;
    font-weight: bold;
    position: absolute;
    bottom: 20px;
    display: flex;
    width: calc(100% - 3vw);
    box-sizing: border-box;
    justify-content: space-between;
}

.news-item p {
    font-size: 1vw;
    width: 95%;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.news-item h4 {
    text-transform: uppercase;
    font-size: 1.5vw;
    font-family: 'Oswald', sans-serif;
    margin: 0;
    width: 90%;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    font-weight: 500;
}

.light {
    background-color: #f1efef;
}
.news-item {
    height: 30vh;
    padding: 1.5vw;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    margin: 5px;
    justify-content: space-between;
    position: relative;
}

.news-wraper {
    display: flex;
    flex-wrap: wrap;
    width: 96%;
    margin: auto;
    max-width: 1580px;
}

.xl {
    width: 36%;
}

.md {
    width: 20.2%;
}

.dark {
    background-color: #1d2333;
    color: white;
}

.xs {
    width: 300px;
}

.sm {
    width: 310px;
}

.large {
    width: 35%;
}

.xxl {
    width: 38.6%;
}

.news-item img {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
}

.item-content{
    position: relative;
}

.blog {
    width: 49.15%;
    color: white;
}


.social-wraper:before {
    content: '';
    border-right: 1px solid #C5C4C2;
    position: absolute;
    top: 35%;
    width: 1px;
    height: 15%;
    right: 50%;
}

#about h3:after {
    content: '.';
    color: var(--trade-green);
    display: inline;
    font-size: inherit;
    font-weight: inherit;
}

p {
    line-height: normal;
}

section {
    margin-bottom: 50px;
    /* margin-top: 66px; */
    padding-top: 5px;
    position: relative;
}

section:first-of-type {
    margin-top: 50px;
}

p.info {
    display: inline;
    color: white;
    font-size: 1em;
}

.footer-content {
    display: flex;
    justify-content: space-between;
}

form {
    text-align: right;
}

label {display: none;}

input, textarea {
    height: 52px;
    width: 200px;
    border-radius: 10px;
    border: 0;
    padding: 15px;
    box-sizing: border-box;
    margin: 5px 0 0;
}

textarea {
    height: 107px;
    width: 352px;
}

input[type="submit"] {
    margin-top: 20px;
}

.credit {
    position: relative;
    bottom: -170px;
    background: white;
    width: 100%;
    display: flex;
    box-sizing: border-box;
    justify-content: space-between;
    }

.credit img {
    position: relative;
    top: -29px;
    width: 11vw;
}

.input-fields {
    display: flex;
    width: 404px;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-right: 5px;
}

.fields {
    width: 762px;
    display: flex;
}


.companies-desc {
    background-color: var(--trade-dark);
    padding: 70px 440px;
    display: flex;
    height: 200px;
    flex-direction: row;
    margin: auto;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

.companies-desc a {
    background: initial;
    border: 0;
    /* height: 50px; */
    padding: 5px;
    box-sizing: border-box;
    margin: 0 10px;
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
}
  
  a .tooltiptext {
    visibility: hidden;
    width: 470px;
    background-color: #4bdece;
    color: #fff;
    position: absolute;
    z-index: 1;
    bottom: 70px;
    left: 45%;
    margin-left: -60px;
    opacity: 0;
    transition: opacity 0.3s;
    /* height: 160px; */
    box-sizing: border-box;
    letter-spacing: 1px;
    font-size: 15px;
    /* line-height: 20px; */
    display: inline-block;
    vertical-align: middle;
    padding: 20px;
  }
  
  a .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
  }
  
  a:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
  }



.companies-desc a img {
    max-width: 130px;
    max-height: 40px;
    vertical-align: middle;
}


.companie-item {
    width: 25vw;
    height: 100%;
    overflow: hidden;
    position: relative;
    text-align: center;
    background-color: #1D2434;
    flex-shrink: 0;
}

img.companie-pic {
    width: 100%;
    opacity: 0.3;
    object-fit: cover;
    height: 100%;
}


#owl-demo .item{
    background: #42bdc2;
    padding: 30px 0px;
    margin: 10px;
    color: #FFF;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    text-align: center;
  }

.companies-slider {
    display: flex;
    align-items: baseline;
    height: 80vh;
    overflow: hidden;
}

img.companie-logo {
    position: absolute;
    top: 45px;
    z-index: 100;
    right: 0;
    width: 40%;
    margin: auto;
    left: 0;
}

.companie-item:hover .companie-pic {
    opacity: 1;
}

.glide__arrows.portfolio_arrows {
    position: relative;
    top: 0;
    left: auto;
}

.portfolio_arrows .glide__arrow--left {
    left: 2em;
}


.tooltip span {
    display:none;
}
.tooltip:hover span {
    display:block;
    position:fixed;
    overflow:hidden;
}

.tooltiptext h3 {
    font-size: 30px;
    font-weight: 800;
    font-family: 'Oswald', sans-serif;
    letter-spacing: 3px;
    margin: 0 0 16px;
    text-transform: uppercase;
}

a .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 10%;
    border-width: 20px;
    border-style: solid;
    border-color: #4bdece transparent transparent transparent;
  }

  .header-left::before {
      content: 'world';
      position: absolute;
      font-size: 140px;
      width: 200px;
      height: 100px;
      color: black;
      top: 281px;
      font-weight: 800;
      z-index: 200;
      opacity: 0.05;
      text-transform: uppercase;
      left: -125px;
  }

section#about::before {
    content: 'ABOUT';
    left: 48px;
    top: 124px;
}

section#portfolio::before {
    content: 'PORTFOLIO';
    right: 34vw;
    top: 82px;
}

section::before, footer h2::before {
    position: absolute;
    font-size: 134px;
    width: 200px;
    height: 100px;
    color: black;
    font-weight: 800;
    z-index: 200;
    opacity: 0.05;
}

footer h2::before {
    content:'contacts';
    color: white;
    font-family: 'Montserrat', sans-serif;
    top: -66px;
    right: 333px;
}

section#about:after {
    content: '02';
    right: 60px;
    top: 0;
}

section#news:after {
    content: '05';
    left: 60px;
    top: 0;
}

section#portfolio:after {
    content: '03';
    left: 60px;
    top: 30px;
}


section:after, .companies-desc:after {
    font-size: 4vw;
    font-family: 'Oswald', sans-serif;
    font-weight: 600;
    letter-spacing: 3px;
    position: absolute;
}



.companies-desc:after{
        content: '04';
        right: 60px;
        top: 30px;
        color:white;
}