body {
  font-family: 'Montserrat', sans-serif;
}

body input:focus, body textarea:focus {
  outline: 0;
  opacity: 0.85;
}

body .trade-green {
  color: #4bdece;
}

body p {
  line-height: normal;
}

body ul {
  margin: 0;
}

body section::before, body footer h2::before {
  position: absolute;
  font-size: 134px;
  height: 100px;
  color: black;
  font-weight: 800;
  z-index: 200;
  opacity: 0.05;
}

body section:after, body .companies-desc:after {
  font-size: 4vw;
  font-family: 'Oswald', sans-serif;
  font-weight: 600;
  letter-spacing: 3px;
  position: absolute;
}

body .slide-action a, body input[type="submit"] {
  text-decoration: none;
  color: white;
  padding: 20px;
  font-weight: bold;
  border-radius: 50px;
  background-color: #4bddcd;
  display: inline-block;
  height: 55px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  letter-spacing: 3px;
  font-size: 14px;
}

body .slide-action a:hover, body input[type="submit"]:hover {
  background-color: #60ffee;
}

body .slide-action a:after, body input[type="submit"]:after {
  content: '';
  width: 10px;
  height: 10px;
  display: inline-block;
  background-image: url("../images/icons/arrow-right.svg");
  background-position: center;
  background-size: cover;
  margin-left: 10px;
}

nav {
  position: absolute;
  z-index: 20;
  width: 80vw;
  right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 10vw 0 100px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-top: 60px;
}

nav ul {
  margin: 0;
}

nav ul li {
  display: inline-block;
  margin: 0 35px;
}

nav a {
  font-family: 'Oswald', sans-serif;
  text-decoration: none;
  color: white;
  font-weight: normal;
  text-transform: uppercase;
  font-size: 13px;
  letter-spacing: 3px;
}

nav a:hover, nav a:focus {
  border-bottom: 1px solid white;
  outline: none;
  padding-bottom: 2px;
}

@media screen and (max-width: 1398px) {
  nav {
    width: 82vw;
    padding: 0 0 0 100px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    right: unset;
    left: 8vw;
    margin-top: 42px;
  }
  nav ul li {
    margin: 0 15px;
  }
}

@media screen and (max-width: 950px) {
  nav {
    width: 90vw;
    padding: 0 0 0 60px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    right: unset;
    left: 6vw;
    margin-top: 37px;
  }
  nav ul li {
    margin: 0 10px;
  }
  nav a {
    font-size: 12px;
    letter-spacing: 2px;
  }
}

@media only screen and (max-width: 475px) {
  nav {
    display: none;
  }
}

header {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media only screen and (max-width: 475px) {
  header {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: unset;
  }
}

header .header-left {
  width: 8vw;
  z-index: 50;
  background-color: #f5f5f3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media only screen and (max-width: 475px) {
  header .header-left {
    display: none;
  }
}

header .header-left::before {
  content: 'world';
  position: absolute;
  font-size: 140px;
  width: 200px;
  height: 100px;
  color: black;
  top: 281px;
  font-weight: 800;
  z-index: 200;
  opacity: 0.05;
  text-transform: uppercase;
  left: -125px;
}

header .header-left .social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-item-align: end;
      align-self: flex-end;
  height: calc(100vh - 50%);
  width: 100%;
  bottom: 0;
  padding-bottom: 30px;
}

header .header-left .social .social-wraper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 20vh;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

header .header-left .social .social-wraper::before {
  content: '';
  border-right: 1px solid #C5C4C2;
  position: absolute;
  top: 35%;
  width: 1px;
  height: 15%;
  right: 50%;
}

header .header-left .social span.comp-name {
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
  letter-spacing: 1vh;
  font-size: 1vh;
  font-weight: 500;
  display: inline-block;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  text-transform: uppercase;
}

header .header-left .site-icon-wraper {
  text-align: center;
  padding-top: 30px;
}

header .header-left .site-icon-wraper img {
  width: 4vw;
}

header .header-right {
  width: calc(100% - 8vw);
}

@media only screen and (max-width: 475px) {
  header .header-right {
    width: 100%;
  }
}

header .header-right .glide {
  height: 100vh;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@media only screen and (max-width: 475px) {
  header .header-right .glide {
    height: calc(100vh - 70px);
    max-height: 567px;
  }
}

header .header-right .glide .glide__slides {
  margin: 0;
}

header .header-right .glide .glide__slide {
  height: 100vh;
}

@media only screen and (max-width: 475px) {
  header .header-right .glide .glide__slide {
    height: calc(100vh - 70px);
    max-height: 567px;
  }
}

header .header-right .glide .slide-action {
  position: relative;
  top: 30%;
  text-align: center;
  height: 420px;
  width: 100%;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media only screen and (max-width: 475px) {
  header .header-right .glide .slide-action {
    top: 12%;
  }
}

header .header-right .glide .slide-action h1 {
  font-family: 'Oswald', sans-serif;
  font-size: 2em;
  color: white;
  letter-spacing: 0.2em;
  font-weight: 200;
}

@media only screen and (max-width: 475px) {
  header .header-right .glide .slide-action h1 {
    width: 227px;
  }
}

header .header-right .glide .slide-action img {
  width: 22%;
}

@media screen and (max-width: 1398px) {
  header .header-right .glide .slide-action img {
    width: 35%;
  }
}

@media only screen and (max-width: 475px) {
  header .header-right .glide .slide-action img {
    display: none;
  }
}

header .header-right .glide .slide-1 {
  background-image: url("../images/slide-1.png");
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  background-blend-mode: darken;
  text-align: center;
  background-color: #1d233375;
}

header .heading-mobile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 100%;
  height: 70px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 16px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

header .heading-mobile img {
  height: 40px;
  vertical-align: middle;
}

@media only screen and (max-width: 320px) {
  header .heading-mobile img {
    height: 20px;
  }
}

header .heading-mobile .large-logo-headding-text {
  font-weight: bold;
  text-transform: uppercase;
  font-size: 14px;
  margin-left: 10px;
}

header .heading-mobile .small-logo-headding-text {
  font-size: 10px !important;
  font-weight: normal !important;
  letter-spacing: 2px;
}

header .heading-mobile button {
  background-color: #fff;
  border: 0;
}

@media only screen and (min-width: 475px) {
  header .heading-mobile {
    display: none;
  }
}

section {
  margin-bottom: 50px;
  padding-top: 5px;
  position: relative;
}

@media only screen and (max-width: 475px) {
  section {
    margin-bottom: 0px;
  }
}

section:first-of-type {
  margin-top: 50px;
}

@media only screen and (max-width: 475px) {
  section:first-of-type {
    margin-top: 0;
  }
}

.section-number {
  font-size: 4vw;
  font-family: 'Oswald', sans-serif;
  font-weight: 600;
  letter-spacing: 3px;
  display: none;
}

.section-title {
  font-size: 35px;
  letter-spacing: 8px;
  font-family: 'Oswald', sans-serif;
  text-align: center;
  margin: 50px 0 70px;
}

@media only screen and (max-width: 815px) {
  .section-title {
    margin: 20px 0 10px;
  }
}

@media only screen and (max-width: 425px) {
  .section-title {
    font-size: 26px;
    letter-spacing: 5px;
  }
}

#about {
  max-width: 80vw;
  margin: auto;
}

#about h3 {
  font-size: 30px;
  font-weight: 600;
  margin: 0;
}

@media only screen and (max-width: 815px) {
  #about h3 {
    display: none;
  }
}

#about h3:after {
  content: '.';
  color: #4bdece;
  display: inline;
  font-size: inherit;
  font-weight: inherit;
}

#about p {
  font-size: 14px;
  font-weight: 400;
  color: #666666;
  line-height: 1.5;
}

@media only screen and (max-width: 425px) {
  #about p {
    font-size: 12px;
  }
}

@media only screen and (max-width: 1023px) {
  #about p {
    padding: 0 10px;
  }
}

#about .glide__arrows .glide__arrow--left {
  left: -1em;
}

#about .glide__arrows .glide__arrow--right {
  right: -1em;
}

@media only screen and (min-width: 1025px) {
  #about .glide__arrows {
    display: none;
  }
}

@media only screen and (max-width: 1024px) {
  #about .glide__arrows .glide__arrow--left {
    left: -3em;
  }
  #about .glide__arrows .glide__arrow--right {
    right: -3em;
  }
}

@media only screen and (max-width: 425px) {
  #about .glide__arrows .glide__arrow--left {
    left: -1em;
  }
  #about .glide__arrows .glide__arrow--right {
    right: -1em;
  }
}

#portfolio #glide-portfolio {
  position: relative;
}

#portfolio .glide__arrow--left {
  left: 1em;
}

#portfolio .glide__arrow--right {
  right: 1em;
}

#portfolio .companies-desc {
  background-color: #1d2434;
  position: relative;
  padding: 91px 0;
}

@media only screen and (max-width: 1025px) {
  #portfolio .companies-desc {
    padding: 15px 0 25px;
  }
}

#portfolio .companies-desc ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: auto;
  max-width: 1700px;
  padding: 0;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
}

@media only screen and (max-width: 1440px) {
  #portfolio .companies-desc ul {
    max-width: 1140px;
  }
}

#portfolio .companies-desc ul li {
  list-style: none;
  height: 90px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

@media only screen and (max-width: 425px) {
  #portfolio .companies-desc ul li {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    width: 33%;
    height: 60px;
  }
}

@media only screen and (max-width: 1024px) {
  #portfolio .companies-desc ul li {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    width: 25%;
  }
}

#portfolio .companies-desc ul li a {
  background: initial;
  border: 0;
  padding: 5px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0 10px;
  position: relative;
  display: inline-block;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

@media only screen and (max-width: 425px) {
  #portfolio .companies-desc ul li a:after {
    content: "";
    display: block;
    width: 50%;
    position: relative;
    margin: auto;
    bottom: 0;
    right: 0;
    left: 0;
    top: 10px;
    border-bottom: 3px solid #4bdece;
  }
}

#portfolio .companies-desc ul li a img {
  max-width: 200px;
  max-height: 50px;
  vertical-align: middle;
}

@media only screen and (max-width: 1440px) {
  #portfolio .companies-desc ul li a img {
    max-width: 150px;
    max-height: 35px;
  }
}

@media only screen and (max-width: 425px) {
  #portfolio .companies-desc ul li a img {
    max-width: 100%;
    max-height: 20px;
  }
}

#portfolio .companies-desc ul li .tooltiptext {
  visibility: hidden;
  width: 470px;
  background-color: #4bdece;
  color: #fff;
  position: absolute;
  z-index: 20;
  bottom: 70px;
  opacity: 0;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  letter-spacing: 1px;
  font-size: 15px;
  display: inline-block;
  vertical-align: middle;
  padding: 20px;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
}

@media only screen and (max-width: 1024px) {
  #portfolio .companies-desc ul li .tooltiptext {
    position: fixed;
    right: 0px !important;
    left: 0px !important;
    margin: auto;
    top: unset;
    width: 80vw;
    -webkit-transform: translate(0, -73%) !important;
            transform: translate(0, -73%) !important;
    -webkit-box-shadow: 0px 2px 22px -5px #000000;
    box-shadow: 0px 2px 22px -5px #000000;
  }
  #portfolio .companies-desc ul li .tooltiptext:after {
    display: none;
  }
}

#portfolio .companies-desc ul li .tooltiptext h3 {
  font-size: 30px;
  font-weight: 800;
  font-family: 'Oswald', sans-serif;
  letter-spacing: 3px;
  margin: 0 0 16px;
  text-transform: uppercase;
}

#portfolio .companies-desc ul li .tooltiptext button {
  display: none;
  margin: auto;
}

#portfolio .companies-desc ul li .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  border-width: 20px;
  border-style: solid;
  border-color: #4bdece transparent transparent transparent;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
}

#portfolio .companies-desc ul li .tooltiptext.right {
  right: 37px;
  left: initial;
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
}

#portfolio .companies-desc ul li .tooltiptext.right::after {
  left: initial;
  right: 30px;
}

#portfolio .companies-desc ul li .tooltiptext.left {
  left: 37px;
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
}

#portfolio .companies-desc ul li .tooltiptext.left::after {
  left: 80px;
}

#portfolio .companies-desc ul li:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

#portfolio .companie-item {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
  display: block;
  text-align: center;
  background-color: #1D2434;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

#portfolio .companie-item .companie-pic {
  width: 100%;
  height: 100%;
  opacity: 0.3;
  -o-object-fit: cover;
     object-fit: cover;
}

#portfolio .companie-item .companie-logo {
  position: absolute;
  top: 45px;
  z-index: 100;
  right: 0;
  width: 40%;
  margin: auto;
  left: 0;
}

#portfolio .companie-item:hover .companie-pic {
  opacity: 1;
}

#news .news-wraper {
  width: 90%;
  margin: auto;
  max-width: 1580px;
}

@media (max-width: 425px) {
  #news .news-wraper {
    width: 100%;
  }
}

#news .news-wraper .news-slide-warper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

#news .news-wraper .news-item {
  height: 250px;
  padding: 1.5vw;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 5px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
  color: inherit;
  text-decoration: none;
}

@media (max-width: 425px) {
  #news .news-wraper .news-item {
    height: 188px;
    margin: 0;
    padding: 3vw;
  }
}

@media (max-width: 320px) {
  #news .news-wraper .news-item {
    height: 160px;
  }
}

#news .news-wraper .news-item img {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

#news .news-wraper .news-item .item-content {
  position: relative;
}

#news .news-wraper .news-item .item-content p {
  font-size: 14px;
  width: 95%;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
}

@media (max-width: 425px) {
  #news .news-wraper .news-item .item-content p {
    font-size: 12px;
    margin-top: 7px;
  }
}

@media (max-width: 320px) {
  #news .news-wraper .news-item .item-content p {
    font-size: 11px;
  }
}

#news .news-wraper .news-item .item-content h4 {
  text-transform: uppercase;
  font-size: 24px;
  font-family: 'Oswald', sans-serif;
  margin: 0;
  width: 90%;
  font-weight: 500;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
}

@media (max-width: 425px) {
  #news .news-wraper .news-item .item-content h4 {
    font-size: 18px;
  }
}

@media (max-width: 320px) {
  #news .news-wraper .news-item .item-content h4 {
    font-size: 14px;
  }
}

#news .news-wraper .news-item .item-info {
  font-size: 12px;
  font-weight: bold;
  position: absolute;
  bottom: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: calc(100% - 3vw);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 425px) {
  #news .news-wraper .news-item .item-info {
    width: calc(100% - 6vw);
    font-size: 11px;
  }
}

@media (max-width: 320px) {
  #news .news-wraper .news-item .item-info {
    font-size: 10px;
  }
}

#news .news-wraper .xl {
  width: 39.1%;
}

#news .news-wraper .md {
  width: 19.1%;
}

#news .news-wraper .dark {
  background-color: #1d2333;
  color: white;
}

#news .news-wraper .light {
  background-color: #f1efef;
}

#news .news-wraper .xs {
  width: 300px;
}

#news .news-wraper .sm {
  width: 310px;
}

#news .news-wraper .large {
  width: 35%;
}

#news .news-wraper .xxl {
  width: 29.1%;
}

#news .news-wraper .blog {
  width: 49.15%;
  color: white;
}

@media (max-width: 1024px) {
  #news .news-wraper .xl {
    width: 65.4%;
  }
  #news .news-wraper .md {
    width: 32.23%;
  }
  #news .news-wraper .xs {
    width: 300px;
  }
  #news .news-wraper .sm {
    width: 310px;
  }
  #news .news-wraper .large {
    width: 35%;
  }
  #news .news-wraper .xxl {
    width: 32.1%;
  }
}

@media (max-width: 768px) {
  #news .news-wraper .xl {
    width: 64.8%;
  }
  #news .news-wraper .md {
    width: 31.7%;
  }
  #news .news-wraper .xs {
    width: 300px;
  }
  #news .news-wraper .sm {
    width: 310px;
  }
  #news .news-wraper .large {
    width: 35%;
  }
  #news .news-wraper .xxl {
    width: 32.1%;
  }
}

@media (max-width: 425px) {
  #news .news-wraper .xl, #news .news-wraper .md, #news .news-wraper .xs, #news .news-wraper .sm, #news .news-wraper .large, #news .news-wraper .xxl {
    width: 50%;
  }
}

footer {
  background: #1d2434;
  padding-top: 80px;
}

@media (max-width: 425px) {
  footer {
    padding-top: 15px;
  }
}

footer .section-title {
  color: white;
  position: relative;
}

footer .footer-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 80%;
  max-width: 1170px;
  margin: 0 auto 50px;
}

@media (max-width: 1024px) {
  footer .footer-content {
    max-width: 760px;
    margin: 0 auto 50px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
}

@media (max-width: 425px) {
  footer .footer-content {
    margin-bottom: 0;
  }
}

footer .footer-content .info {
  display: inline;
  color: white;
  font-size: 1em;
  line-height: 2em;
  margin: 0;
}

@media (max-width: 425px) {
  footer .footer-content .info {
    text-align: center;
    padding-top: 20px;
  }
}

footer .footer-content form {
  text-align: right;
}

@media (max-width: 425px) {
  footer .footer-content form {
    text-align: center;
  }
}

footer .footer-content form label {
  display: none;
}

footer .footer-content form .fields {
  max-width: 762px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 425px) {
  footer .footer-content form .fields {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

footer .footer-content form .fields .input-fields {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 404px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-right: 5px;
}

@media (max-width: 425px) {
  footer .footer-content form .fields .input-fields {
    width: 100%;
  }
}

footer .footer-content form input, footer .footer-content form textarea {
  height: 52px;
  width: 49%;
  border-radius: 10px;
  border: 0;
  padding: 15px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 5px 0 0;
  font-size: 14px;
}

@media (max-width: 425px) {
  footer .footer-content form input, footer .footer-content form textarea {
    width: 100% !important;
    margin-top: 11px;
  }
}

footer .footer-content form textarea {
  height: 107px;
  width: 352px;
}

footer .footer-content form input[type="submit"] {
  margin-top: 20px;
}

@media (max-width: 425px) {
  footer .footer-content form input[type="submit"] {
    margin-top: 20px;
    width: 50%;
  }
}

footer .credit {
  position: relative;
  background: white;
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 1170px;
  margin: auto;
  top: 82px;
  font-size: 12px;
}

footer .credit img {
  position: relative;
  top: -30px;
  width: 212px;
}

@media (max-width: 425px) {
  footer .credit img {
    margin: auto;
  }
}

@media (max-width: 425px) {
  footer .credit span {
    display: none;
  }
}

footer h2::before {
  content: 'contacts';
  color: white;
  font-family: 'Montserrat', sans-serif;
  top: -66px;
  right: 240px;
}

.upload-btn-wrapper {
  position: relative;
  overflow: hidden;
  display: inline-block;
}

.btn {
  border: 2px solid gray;
  color: gray;
  background-color: white;
  padding: 8px 20px;
  border-radius: 8px;
  font-size: 20px;
  font-weight: bold;
}

.upload-btn-wrapper input[type=file] {
  font-size: 100px;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  background-color: #111;
  overflow-x: hidden;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

#popShadow {
  display: block;
  background-color: rgba(0, 0, 0, 0.5);
  height: 100vh;
  width: 100vw;
  position: fixed;
  display: none;
  z-index: 10;
}

.glide__arrow {
  -webkit-box-shadow: unset;
          box-shadow: unset;
  padding: 0;
  border: 0;
}
/*# sourceMappingURL=styles.css.map */